[mysqld]
datadir=/data/mysql
socket=/tmp/mysql.sock

skip-name-resolve
skip-external-locking

key_buffer_size = 384M
max_allowed_packet = 1024M
table_open_cache = 5000
sort_buffer_size = 4M
join_buffer_size = 4M  #文章说重要；
net_buffer_length = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 64M
query_cache_size = 64M
thread_concurrency = 4 #cpu*2
thread_cache_size = 128 
wait_timeout = 10
interactive_timeout = 10
max_connections = 500
max_user_connections = 0 # 0 无限制
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1 #ACID相关
innodb_lock_wait_timeout = 100

#[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 4M
read_buffer_size = 4M

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mysql.log
pid-file=/var/run/mysql.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
