[mysqld]
datadir=/data/mysql
socket=/tmp/mysql.sock

key_buffer_size = 256M
max_allowed_packet = 1024M
table_open_cache = 5000
sort_buffer_size = 4M
net_buffer_length = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 64M


innodb_buffer_pool_size = 4G
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 512M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 100

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 256M
write_buffer = 256M

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mysql.log
pid-file=/var/run/mysql.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
